@model GGZBTQPT_PRO.Models.T_HY_Member

<script type="text/javascript">
    $(document).ready(function () { 
        $.Member.sendRandomPwd(); 
    });
</script>

@using (Html.BeginForm())
{
    <fieldset>
     <legend><h3>会员登录</h3></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.LoginName)
        </div>
        <div class="editor-field">
            <input class="valid" data-val="true" data-val-required="必须填写登录名" id="LoginName" name="LoginName" type="text" />
            <span class="field-validation-valid" data-valmsg-for="LoginName" data-valmsg-replace="true"></span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p> 
            <button class="btn btn-primary" type="submit"><i class="icon-ok-circle icon-white"></i> 登录</button>
            <a href="#myModal" role="button" class="btn" data-toggle="modal">忘记密码了？</a>
        </p>
    </fieldset>
}


<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">密码找回</h3>
  </div>
  <div class="modal-body">
    <div>
    <label>请输入用户名：</label><input type="text" id="find_loginname" name="find_loginname" />
    </div>
  </div>
  <div class="modal-msg"> 
  </div>
  <div class="modal-footer">
    <a href="\Member\Member\SendRandomPwd" id="send_random_pwd" class="btn btn-primary">发送临时登陆密码</a>
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
  </div>
</div>