@{
    Layout = null;
}
<div class="pageContent" style="padding: 5px; overflow: auto;">
    <div layouth="146" style="float: left; display: block; overflow: auto; width: 200px;
        border: solid 1px #CCC; line-height: 21px; background: #fff">
        @Html.Action("HotTypes")
    </div>
    <div id="hotInfoBox" class="unitBox" style="margin-left: 206px;">
        <div>
            请点击左侧分类名称，查询分类信息！</div>
    </div>
</div>

