GGZBTQPT_PRO/Migrations
GGZBTQPT_PRO/bin
GGZBTQPT_PRO/obj
.sass-cache
GGZBTQPT_PRO/GGZBTQPT_PRO.csproj
GGZBTQPT_PRO/GGZBTQPT_PRO.csproj.user
GGZBTQPT.sln
GGZBTQPT.suo
GGZBTQPT_TEST
GGZBTQPT.vsmdi
Local.testsettings
TraceAndTestImpact.testsettings
