.clear {
  clear: both; }

.alert {
  text-align: center; }

.container .brand {
  padding: 0; }

#deploy {
  text-align: center; }
  #deploy ul.nav-pills img {
    margin-right: 10px; }
  #deploy ul.nav-pills a {
    width: 110px;
    height: 110px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 100px;
    background-color: #eee; }

body {
  background-color: #333; }
  body .header-link {
    font-weight: bold; }
  body .main #notice {
    margin-bottom: 20px; }
  body .main .content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff; }
  body .main .sidebar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eee;
    padding: 20px; }
  body .footer {
    text-align: center;
    background: url(../images/footer.png) repeat-x top left;
    margin-top: 10px;
    color: #fff;
    height: 59px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    bottom: 0;
    clear: both; }
    body .footer .right {
      padding-top: 10px; }
      body .footer .right a {
        color: #fff; }

.content-title {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.field-validation-error {
  color: #FF8C05; }

#published .published-content {
  border-bottom: dashed 1px #ddd;
  padding: 10px 0; }

#recommend .recommend-content, #favored .recommend-content {
  border-top: dashed 1px #ddd;
  padding: 10px 0; }
#recommend .favored-link .favored, #favored .favored-link .favored {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #FCEFE3; }
  #recommend .favored-link .favored a, #favored .favored-link .favored a {
    color: #D9896A; }
#recommend .favored-link .unfavored, #favored .favored-link .unfavored {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #D9896A; }
  #recommend .favored-link .unfavored a, #favored .favored-link .unfavored a {
    color: #FAE7D6; }
#recommend .favored-link .favorited-people, #favored .favored-link .favorited-people {
  margin-top: 5px;
  text-align: center;
  padding: 3px 0px; }

#attentioned .attentioned-content {
  border-top: solid 1px #ddd;
  padding: 10px 0; }
  #attentioned .attentioned-content ul {
    list-style: none; }
#attentioned .attentioned-link .attentioned {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #E7F2FD; }
  #attentioned .attentioned-link .attentioned a {
    color: #55A255; }
#attentioned .attentioned-link .unattentioned {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #55A255; }
  #attentioned .attentioned-link .unattentioned a {
    color: #E7F2FD; }
#attentioned .attentioned-link .favorited-people {
  margin-top: 5px;
  text-align: center;
  padding: 3px 0px; }

span.attentioned {
  display: inline-block;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #E7F2FD; }
  span.attentioned a {
    color: #55A255; }

span.unattentioned {
  display: inline-block;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px 0px;
  margin: 10px 10px 0px 10px;
  background: #55A255; }
  span.unattentioned a {
    color: #E7F2FD; }

.replies {
  display: none; }

.replying {
  display: none; }

.view_all_replies {
  cursor: pointer; }

.sidebar {
  color: #555; }
  .sidebar .member-info {
    margin-bottom: 30px; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px; }
    .sidebar ul li {
      margin-left: 0px;
      padding-top: 5px; }
  .sidebar h4 {
    color: #555; }

.pub-time {
  color: #999;
  font-size: 14px; }

.recommend-info {
  color: #999;
  font-style: italic; }

.privacy-detail {
  font-style: italic; }

#loading {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #fff;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  top: 90px;
  left: 50%;
  margin-left: -30px;
  display: none; }

.checkbox {
  vertical-align: middle; }

#signup {
  background: url(../images/register-2.png) no-repeat bottom right;
  filter: alpha(opacity=50); }
  #signup .editor-label {
    margin: 0px;
    padding: 0px;
    clear: both;
    margin-left: 20px; }
    #signup .editor-label label {
      float: left;
      width: 100px; }
    #signup .editor-label input {
      float: left;
      padding: 0;
      margin: 0;
      height: 26px; }
  #signup .input-row {
    margin-top: 10px; }

.nothing {
  margin: 20px;
  padding: 50px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: dashed 5px #ddd; }

