.querylist li
{
    float:left;
    width:100px;
}

.tb-detail
{
    width:90%;
    border-spacing:5px;
}

.title_detail
{
    font-size: 12pt;
    font-weight: bold;
}
.report_tb
{
    
    width:90%;
    border:1px solid #4c4c4c;
    border-collapse:inherit;
    }
.report_tb td
{
    text-align:center;
    height:25px;
    border:1px solid #4c4c4c;
}