.querylist li
{
    float:left;
    width:100px;
}

.tb-detail
{
    width: 90%;
    border: 1px solid #ddd;
    border-collapse:collapse;
    margin:10px 20px;
}
.tb-detail td
{
    border:1px solid #ddd;
    padding:5px;
    }

.title_detail
{
    font-size: 12pt;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    padding:5px;
}
.report_tb
{
    
    width:90%;
    border:1px solid #4c4c4c;
    border-collapse:inherit;
    }
.report_tb td
{
    text-align:center;
    height:25px;
    border:1px solid #4c4c4c;
}