@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_System>
<ul>
    @foreach( var system in Model)
    { 
        <li><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update=".accordion" href="@Url.Action("SystemMenus","Home", new {id=system.ID})"><span>@system.Name</span></a></li>
    }
</ul>
