 @model IEnumerable<GGZBTQPT_PRO.Models.T_JG_Agency>
<div>
    <h4>
        最新加入的金融服务机构</h4>
    <ul>
        @foreach (var _model in Model)
        {
            <li>@Html.ActionLink(_model.AgencyName,"Details","Agency", new {id = _model.ID},null)</li>
        }
    </ul>
</div>

