@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Financing>
<div>
    <h4>
        最新发布融资项目</h4>
    <ul>
        @foreach (var _model in Model)
        {
            <li>@Html.ActionLink(_model.ItemName, "Details", "Financial", new { id = _model.ID }, null)</li>
        }
    </ul>
</div>
