@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Investment>
<div>
    <h4>
        最新发布融资意向</h4>
    <ul>
        @foreach (var _model in Model)
        {
            <li><a href="\Member\Investment\Details\@_model.ID">[@_model.ItemName]</a></li>
        }
    </ul>
</div>


