@model GGZBTQPT_PRO.Models.T_HY_Reply

@helper FormatReply(string date_time)
    {
        <h4>你在 @date_time 说道:</h4>
}

<div class="media reply well">
    <div class="media-body">
        @FormatReply(Model.CreatedTime.ToShortTimeString())
        @Model.Content
    </div>
</div>
