@{
    ViewBag.Title = "我的消息";
    string UnReadSend = "我发送的消息(" + ViewBag.UnReadSend + "条新回复)";
    string UnReadReceive = "我接收的消息(" + ViewBag.UnReadReceive + "条新回复)";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#message li a").click(function (e) {
            e.preventDefault();
            $("#message li").removeClass("active");
            $(this).parent("li").addClass("active");
        });
        $("#message li.active a").click();
    });
</script>
<h3 class="content-title">
    我的消息</h3>

<ul id="message" class="nav nav-tabs">
    <li class="active">
        @Ajax.ActionLink(UnReadSend, "Sended", "Message", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details", LoadingElementId = "Loading" })
    </li>
    <li>
        @Ajax.ActionLink(UnReadReceive, "Received", "Message", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details", LoadingElementId = "Loading" })
    </li>
</ul>

<div id="details">

</div>