@model GGZBTQPT_PRO.Areas.ViewModels.VM_ReplyMessage

@using (Ajax.BeginForm("ReplyMessage", "Message", new { relate_id = ViewBag.RelateID }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }))
{
    @Html.ValidationSummary(true) 

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div>
            <button class="btn btn-primary" type="submit">
                <i class="icon-ok icon-white"></i>回复</button>
                
            <a href="#" class="cancel">取消</a>
        </div>
    </fieldset>
}

<script type="text/javascript">
    $.Member.replyTo();
</script>
    