@model GGZBTQPT_PRO.Models.T_ZC_Role
@{
    Layout = null;
}
<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>
<div class="pageContent">
    @using (Html.BeginForm("Create", "ZC_Role", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="pageFormContent" layouth="56">
            <p>
                @Html.LabelFor(model => model.Name, "角色名称")
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
  
    }
</div>
