@{
    Layout = null;
}
<div class="pageContent" style="padding: 5px; overflow: auto;">
    <div layouth="146" style="float: left; display: block; overflow: auto; width: 200px;
        border: solid 1px #CCC; line-height: 21px; background: #fff">
        @Html.Action("FileTree")
    </div>
    <div id="FileInfoBox" class="unitBox" style="margin-left: 206px;">
        <div>
            请点击左侧文件夹，管理文件列表！</div>
    </div>
</div>

