@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_XM_Investment>
@{
    ViewBag.Title = "发布的意向";
}
<script type="text/javascript">
    $.Member.replaceBlankForMVCPager();
</script>
@*发布的意向信息*@
<div id="published">
    @foreach (var _model in Model)
    {
        <div class="row-fluid">
            @*投资意向信息*@
            <div class="published-content ">
                <h4>
                   @Html.ActionLink(_model.ItemName, "Edit", "Investment", new { id = _model.ID }, null)<span class="pub-time pull-right">@_model.CreateTime</span></h4>
                @*摘要*@
                <p class="summary">
                    @Html.Raw((_model.Description.Length > 200 ? _model.Description.Substring(0, 200) + "..." : _model.Description))
                </p>
                @*附属信息*@
                <div class="published-info">
                   <span class="amount text-error">总投资：@_model.Investment 万元</span><span class="favorite pull-right text-info">【@_model.Favoites.Count() 人收藏】</span>
                </div>
            </div>
        </div>
            
    }
    <div class="pagination pagination-left clear">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" }) 
    </div>
</div>
