@CHARSET "UTF-8";
.column2_bot_top{
    background:#f3f3f3 url(../images/columntitle_bot_top.png) no-repeat 0 0;
    height:5px;
}
.an2_fb{
height:48px;
}

.an2_fb a img{
	width:103px;
	height:34px;
	float:left;
	padding:7px;
	margin:0 auto;
	opacity:0.8
}
.an2_fb a:hover img{
   opacity:1;
}
.column_bot_top{
	background:url(../images/column_bot_top.png) no-repeat 0 0;
	height:5px;
}
._site{
hight:26px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background:#fff;
padding-left:10px;
}
.f_c_66{
color:#666;
}
.page_text{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background:#fff;
padding:30px;
}
.div10{
height:10px;
}

/*
--@cyl 内部页|
*/
.curpos{
	padding-left:10px;
}
.ts{
	margin-top:10px;
}
/*div圆角*/
.r{
	background:#f3f3f3;
}
.r1,.r2,.r3{
	font-size:0;
	line-height:0;
	overflow:hidden;
}
.r1{
	margin:0 3px;
	height:1px;
	background:#ccc;
}
.r2,.r3,.rm{
	border-left:1px solid #ccc;
   border-right:1px solid #ccc;
}
.r2{
	margin:0 2px;
	height:1px;
}
.r3{
	margin:0 1px;
	height:1px;
}
.rm{
	background:#f3f3f3;
}
.rm dt,.rm dd{
	float:left;
}
.rm dt{
	padding:0 10px;
	width:60px;
}
.rm dd{
	width:670px;
	color:#ccc;
}
.rm dd em{
	font-style:normal;
	padding:0 5px;
	display:inline-block;
	color:#f60;
	font-size:12px;
}
.ts-item{
	margin:0 10px;
	padding-top:5px;
	padding-bottom:0;
	border-bottom:1px dotted #ccc;
}
.ts-item dt,.ts-item dd{
	float:left;
}
.ts-item dt{
	width:80px;
	color:#000;
}
.ts-item dd{
	width:650px;
}
.ts-item dd em{
	font-style:normal;
	padding-right:30px;
	display:inline-block;
	cursor:pointer;
}
.ts-item dd em:hover{
	color:#f60;
	text-decoration:underline;
}

.ts-in{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}
.ts-con{
	margin-top:10px;

}
h3.ts-con-t{
	font-weight:normal;
	font-size:12px;
	position:relative;
	height:27px;
	line-height:27px;
	font-size:0;
	border-bottom:2px solid #c62424;
}
h3.ts-con-t *{
	font-size:12px;
    vertical-align:middle;
}
h3.ts-con-t form.rsearch{
	position:absolute;
	right:5px;
	bottom:0px;
}
h3.ts-con-t a{
	width:30px;
	display:inline-block;
	width:92px;
	text-align:center;
	overflow:hidden;
	height:27px;
	position:relative;
	margin-right:5px;
}
h3.ts-con-ta span{
	background:#fc0;
	display:inline-block;
	height:25px;
	line-height:25px;
}
h3.ts-con-t a.first span{
	display:block;
	height:27px;
	line-height:27px;
	width:92px;
	font-size:14px;
	font-weight:bold;
	background:url(../images/pm_red_bg.jpg) no-repeat left top;
	color:#fff;
}
h3.ts-con-t a.sf span{
	display:block;
	padding-top:4px;
	height:23px;
	line-height:23px;
	width:92px;
	font-size:12px;
	background:url(../images/pm_white_bg.jpg) no-repeat left top;
	color:#000;
}
.rinput{
	height:16px;
	line-height:16px;
    width:120px;
}
.rbtn{
	background:url(../images/rbtn_qd.jpg) no-repeat 0px 0px;
	height:21px;
	border:0px;
	width:52px;
	}
.ts-con-btn{
	padding-top:5px;
	padding-left:5px;
	line-height:20px;
	overflow:hidden;
	height:28px;
	background:url(../images/pm_bg_bg2.jpg) repeat-x left top;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.ts-con-btn span,.ts-con-btn span{
	display:inline-block;
}
.ts-con-btn span.btn1{
	position:relative;
	padding-left:5px;
	padding-right:20px;
	cursor:pointer;
	background:url(../images/pm_bg_bg.jpg) repeat-x left top;
	border:1px solid #b1b1b1;
	text-align:left;
	height:18px;
}
.ts-con-btn span.btn1 .icon{
	width:18px;
	height:18px;
	right:2px;
	background:url(../images/pm_bg_bg_si2.jpg) no-repeat;
}
.ts-con-btn span.btn1 .icon_2{
	width:18px;
	height:18px;
	right:2px;
	background:url(../images/pm_bg_bg_si1.jpg) no-repeat;
}
.lnum a{
	background:#fff;
	margin-right:5px;
	border:1px solid #f00;
	height:20px;
	width:20px;
	text-align:center;
}
.lnum a:hover{
	text-decoration:none;
	background:#f00;
	color:#fff;
}
.ts-l-item{
	font-size:0;
	margin:0 5px 0 10px;
	border-bottom:1px dashed #ccc;
}
.ts-l-item.last{
	border-bottom:none;
	padding-bottom:30px;
}
.ts-l-item *{
	font-size:12px;
}
.ts-l-item-l,.ts-l-item-r{
	display:inline-block;
	vertical-align:middle;
}
.ts-l-item-l{
	width:605px;
	padding:5px 0;
	*float:left;
}
.ts-l-item-r{
	width:120px;
	margin-left:10px;
	*float:right;
	padding-top:10px;
}

h3.ts-l-item-title{
	font-size:0px;

}
h3.ts-l-item-title a{
	font-size:14px;
	color:#930;
}
._time{
	float:right;
	font-size:12px;
	font-weight:normal;
}
._time ._label{

}
._time em{
	font-style:normal;
	color:#f00;
}
h3.ts-l-item-title span._time{
	font-size:12px ;
}
.ts-l-item-content{
	font-size:0;
}
.ts-l-item-content *{
	font-size:12px;
}
.ts-l-item-content ._td{
	display:inline-block;
	width:50%;
	*width:48%;
}
.ts-l-item-content ._td em{
	font-style:normal;
}
.ts-l-item-content ._td._rzje em{
	color:#f00;
}
.ts-l-item-r p{
	text-align:center;
}
.ts-l-item-r p em{
   font-style:normal;
}
.ts-l-item-r p._addfocusbtn{
	border:1px solid #f00;
	background:#fc0;
	height:20px;
	line-heigt:20px;
	width:80px;
	margin:0 auto;
}
.ts-l-item-r p em._num{
	color:#f00;
}
/*fs find serve*/
.fs{
	margin-top:10px;
	width:972px;
	margin-left:auto;
	margin-right:auto;
}
.fs .p_top ._bg{
	background:#ddd url(../images/fs_top.jpg) no-repeat 0 0;
}
.fs .p_mid{
	background:url(../images/fs-mid.jpg) repeat-y -1px 0;
	border-right:none;
}
.fs .p_bot ._bg{
	background:#ddd url(../images/fs_bot.jpg) no-repeat 0 0;
}
.fs .part-l.part-fslw{
	width:172px;
}
.fs .part-r.part-fsrw{
    width:798px;

}
.fs-nav{
	width:122px;
	margin:10px auto;
}
.fs-nav li a{
	display:block;
	text-align:left;
}
.fs-nav li a.m{
	height:27px;
	line-height:27px;
	font-size:14px;
	font-weight:14px;
	background:#ddd url(../images/fs-btn3.jpg) no-repeat 0 0;
	width:100%;
	padding-left:5px;
	font-weight:bold;
	cursor:text;
}
.fs-nav li a.m:hover{
	text-decoration:none;
	color:#333;

}
.fs-sub-nav li{
	margin:5px 1px;
}
.fs-sub-nav li a{
	 height:19px;
     line-height:19px;
     padding:0 5px;
     border:1px solid #f2f3f5;
     border-bottom:none;
     background:#f2f3f5;
}
.fs-sub-nav li a:hover{
	 border:1px solid #ccc;
	 border-bottom:none;
	 background:#ddd url(../images/fs_btn4_bg1.jpg) repeat-x 0 0px;
}
.fs-sub-nav li a.current{
    border:1px solid #f2f3f5;
    border-bottom:none;
    background:#ddd url(../images/fs_btn4_bg1.jpg) repeat-x 0 0px;

}
.fs-content{
   margin:10px;
}
.fs-c-nav{
   padding:0 10px 8px 10px;
   border-bottom:1px dashed #ccc;
}
.fs-c-nav li{
	float:left;
	background:url(../images/fs-btnr.jpg) no-repeat right 0;
	margin-right:10px;
}
.fs-c-nav li a{
	display:block;
	height:27px;
	line-height:27px;
	background:url(../images/fs-btnl.jpg) no-repeat 0 0;
	margin-right:5px;
	padding:0 10px;
}
.fs-c-nav li.last{
	float:right;
	width:107px;
	background:url(../images/fs_btn2.jpg) no-repeat 0 0;
	font-size:0;
}
.fs-c-nav li.last a{
   display:inline;
   background:none;
   font-size:12px;
   margin-right:0;
}
.fs-c-nav li.last a.last{
	margin-right:5px;
    width:26px;
    background:none;
}
.fs-c-nav li.last a.current{
	background:url(../images/fs_btn_h.jpg) no-repeat 0 1px;
}
.copic{
	float:right;
	width:150px;
	margin-right:10px;
	margin-left:15px;
	overflow:hidden;
	padding:2px;
	border:1px solid #ccc;
}
.fs-c-list{
	margin:5px 35px;
}
.fs-c-list li{
	border-bottom:1px dashed #ccc;
	padding:5px 0;
}
.fs-c-list li.last{
	border-bottom:none;
}
.fs-c-list li em{
	font-style:normal
}
.fs-c-list li h3 span.dot{
	font-size:8px;
	color:#004079;
	position:relative;
	top:-2px;
	margin-right:5px;
}
.fs-c-list li h3 a{
	color:#004079;
	font-size:14px;
}
.fs-c-c{
	margin-left:12px;
	margin-right:5px;
}
.tq-nav{
	background:url(../images/tqwd_nav_bg.jpg) repeat-x 0 0;
	height:305px;
	overflow:hidden;
}
.tq-nav .part-t{
	height:78px;
	position:relative;
}
h3.tq-nav-title{
	width:762px;
	text-align:center;
	font-size:30px;
	font-family:"幼圆","微软雅黑";
	font-weight:normal;
}
h3.tq-nav-title img{
	margin:0 auto;
	top:30px;
	position:relative;
}
.tq-upload{
	position:absolute;
	top:5px;
	right:0px;
	width:246px;
	text-align:center;
}
.tq-up-num{
	color:#f60;
	font-weight:bold;
	font-size:20px;
	margin:0 3px;
}
.tq-upload a img{
	margin:0 auto;
	cursor:pointer;
}
.tq-upload a:hover img{
	opacity:0.8;
}
.tq-wk-list{
margin-top:20px;
}
.tq-wk-list li{
	float:left;
	width:25%;
}
.tq-wk-list li *{
	padding-left:15px;
	padding-right:15px;
}
.tq-wk-title{
	font-size:0px;
	font-weight:normal;
}
.tq-wk-title em{
    font-style:normal;
    font-size:22px;
    padding:0;
}
.tq-wk-title em.t1{
	color:#ffa23e;
}
p.tq-wk-desc{
	margin-top:5px;
	line-height:20px;
	height:50px;
	overflow:hidden;
}
.tq-wk-img{
	margin-top:5px;
}


.tq-wk-img img{
	margin:0 auto;
}

.latest-nav{
	height:30px;
	line-height:30px;
	position:relative;
	background:#f4f4f4;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
.latest-nav .art,.latest-nav .arb{
	height:15px;
	width:15px;
    background:#fff;
    font-size:10px;
    line-height:15px;
    text-align:center;
    color:#333;
    position:absolute;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    cursor:pointer;

}
.latest-nav .art{
	top:0;
	left:0;
	border-bottom:1px solid #ccc;

}
.latest-nav .arb{
	bottom:0;
	left:0;
	border-top:1px solid #ccc;
}
.arlabel{
	display:inline-block;
	position:relative;
    margin-left:17px;
    background:#fff;
    padding:0 15px;
    border-right:1px solid #ccc;
    font-weight:bold;
}
.arlabel .sj-l,.arlabel .sj-l2{
	height:0;
	width:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
}
.arlabel .sj-l{
	border-width:5px;
	border-color:transparent transparent transparent #fff;
	border-style:solid;
    top:50%;
	margin-top:-5px;
    z-index:6;
    right:-10px;
}
.arlabel .sj-l2{
	border-width:6px;
	border-color:transparent transparent transparent #ccc;
	border-style:solid;
	top:50%;
	margin-top:-6px;
	z-index:5;
	right:-12px;
}
.arlist{
	float:right;
	width:640px;
}
.arlist li{
	float:left;
	display:inline;
	width:33.33%;
}
.tq-zts{
	margin-top:10px;
}
.part-l.part-l-ztw{
	width:260px;
}
.part-r.part-r-ztw{
	width:486px;
}
.tq-zt-imgbox{
}
.tq-zt-imgbox img{
	width:241px;
	height:206px;
	padding:1px;
	border:1px solid #ccc;
	margin-top:15px;
	margin-left:15px;
}
.tq-zt-news{
	margin-top:10px;
}
.tq-zt-news .newslist{
	line-height:22px;
	border-bottom:1px dashed #ccc;
}
.tq-zt-news .newslist.last{
	border-bottom:none;
}
.tq-zt-news .newsbox h3{
	padding-left:10px;
	color:#1751a5;
	font-size:14px;
}
._tabletitle ._page{
   float:right;
   margin-right:10px;
   font-weight:normal;
}
._tabletitle ._page a{
	margin-right:8px;
}
._tabletitle ._page a:hover,._tabletitle ._page a.current{
   color:#2a9565;
   text-decoration:underline;
}
.tq-type-list{
	margin:5px 15px;
}
.tq-type-list dl{
	padding-top:10px;
    padding-bottom:5px;
	border-bottom:1px dotted #ccc;
}
.tq-type-list dl.last{
	border-bottom:none;
}
.tq-type-list dt{
    width:94px;
    height:26px;
    background:url(../images/tqwd_btn2.jpg) no-repeat 0 0;
    padding-left:18px;
}
.tq-type-list dd{
	margin:3px 2px;
}
.tq-type-list dd a{
	padding:0 15px;
	border-left:1px solid #ccc;
	display:inline-block;
	height:16px;
	line-height:16px;
}
.tq-type{
	margin-top:5px;
}
.columntitle2._tqwd{
	  background:url(../images/tqwd.jpg) no-repeat 0 0;
	  margin-top:5px;
}
.newslist li.nl1,.newslist li.nl2{
	padding-left:35px;
	position:relative;
}
.newslist li.nl1 .icon,.newslist li.nl2 .icon{
	height:15px;
	width:16px;
	position:absolute;
	top:5px;
	left:10px;
	line-height:15px;
	text-align:center;
}
.newslist li.nl2 .icon{
	background:url(../images/icon_02.jpg) no-repeat 0px 0;
}
.newslist li.nl1 .icon{
	background:url(../images/tqwd_d2.jpg) no-repeat 0 0;
}
.linfo{
	border-top:2px solid #f60;
	border-bottom:1px solid #ddd;
}
.dot1{
	font-size:20px;
	margin-right:5px;
	margin-left:10px;
	position:relative;
	top:-2px;
}
.linfo p{
	margin:3px 5px;
}
.linfo p a{
	color:#00f;
	padding:0 2px;
}
.linfo p._numbox{
	width:208px;
	height:54px;
	background:url(../images/tqwd_d1.jpg) no-repeat 0 0;
	margin-left:auto;
	margin-right:auto;
}
.linfo p._numbox ._doc{
	float:left;
	width:50%;
	padding:0;
	text-align:center;
	line-height:22px;
	margin-top:5px;
}
.linfo p._numbox ._doc span{
	display:block;

}
.linfo p._numbox ._doc span._num{
	color:#f00;
}