@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_Department>

<ul class="tree treeFolder">
    <li><a>业务系统列表</a>
        <ul>
            @foreach (var department in Model)
            {
                <li> @Html.ActionLink(department.Name,"UserInfo","ZC_User",new { id = department.ID},new { target = "ajax", rel = "userInfoBox" })</li>
            }
        </ul>
    </li>
</ul>
