@model IEnumerable<GGZBTQPT_PRO.Models.T_HY_Attention>
@*发布的项目信息*@
<div id="published">
    <div class="row-fluid">
        @*项目信息*@
        <div class="published-content ">
            <h4>
                项目名称</h4>
            @*摘要*@
            <p class="summary">
                股东邓明国、晏长富、兰剑以重庆吉力建设集团有限公司内部承包的方式独立承建黑龙江安达市卧里屯乡农贸市场钢结构项目（以下称本项目），规模17600平方米，造价2500万元，工期180天，承建利润750万元左右。本钢结构项目是安达市卧里屯乡汽车产业园（政府招商开发项目，总投资20亿元）中一个很小的部分，但本项目是整个产业园中要求最先完工的民生保障项目。我们是依托黑龙江省委有力渠道和保障有幸承建本项目）.......
            </p>
            @*附属信息*@
            <div class="published-info">
                <span class="pub-time">发布时间</span><span class="pro-type">项目类型</span><span class="favorite">多少人收藏</span>
            </div>
        </div>
    </div>
    <div class="pagination pagination-left clear">
        <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li class="disabled"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
