
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html">科技金融网</a>
            @Html.Action("Header","Home")
        </div>
    </div>
</div>
