<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html">科技金融网</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="./index.html">个人主页</a> </li>
                    <li class=""><a href="./getting-started.html">我的发布</a> </li>
                    <li class=""><a href="./scaffolding.html">我的收藏</a> </li>
                    <li class=""><a href="./base-css.html">我的关注</a> </li>
                    <li class=""><a href="./components.html">找项目</a> </li>
                    <li class=""><a href="./javascript.html">找资金</a> </li>
                    <li class=""><a href="./customize.html">找服务</a> </li>
                </ul>
            </div>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li><a href="#">消息</a></li>
                    <li><a href="#">推荐</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
