<div class="member-info">
    <div>
        会员级别：铜牌会员</div>
    <div>会员发布信息</div>
</div>

<div>
<span>更新动态（23）</span>
</div>

<div>
<h4>最新发布项目</h4>
<ul>
<li>人参茶项目寻找合作伙伴</li>
<li>四川某品牌酒股权融资500万！急！</li>
</ul>
</div>


<div>
<h4>最新融资意向</h4>
<ul>
<li>人参茶项目寻找合作伙伴</li>
<li>四川某品牌酒股权融资500万！急！</li>
</ul>
</div>


<div>
<h4>金融产品推荐</h4>
<ul>
<li>人参茶项目寻找合作伙伴</li>
<li>四川某品牌酒股权融资500万！急！</li>
</ul>
</div>


<div>
<h4>投融资帮助</h4>
<ul>
<li>典当融资</li>
<li> 私募基金</li>
<li> 中小板上市程序</li>
<li> 担保的作用</li>
</ul>
</div>