@Html.Action("MemberBrief", "SideBar")
@Html.Action("TheLastestFinancials", "SideBar")
@Html.Action("TheLastestInvestments", "SideBar")
@Html.Action("TheLastestProducts", "SideBar")

 
<div>
<h4>投融资帮助</h4>
<ul>
<li>典当融资</li>
<li> 私募基金</li>
<li> 中小板上市程序</li>
<li> 担保的作用</li>
</ul>
</div>