@model IEnumerable<GGZBTQPT_PRO.ViewModels.VM_OnlineContinuance>
@using GGZBTQPT_PRO.Enums
@{
    Layout = null;
}
<div class="row-fluid top-line pdv20">
    <div id="accomplishment_sum" class="span6 fnormal">
        <div id="continuance_with_member_stat">
        </div>
    </div>
    <div id="accomplishment_num" class="span6 fnormal">
        <p class="down-line ">
            <span class="label">按照会员在线排名时间统计如下：</span></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        会员名：
                    </th>
                    <th>
                        操作时间（分钟）
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member_log in Model)
                {
                    <tr>
                        <td>
                            @member_log.MemberName
                        </td>
                        <td>
                            @Math.Round(member_log.Continuance.TotalMinutes, 1) （分钟）
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("@Url.Action("ContinuanceStatWithMemberData", "ZC_MemberLog")", function(data){
        
            var statData = [];
            var ticks = [];
            $.each(data.statData, function(key, value){
                statData.push(value);
                ticks.push(key);
            }); 
            
            jQuery.jqplot('continuance_with_member_stat', [statData],
                {
                    seriesDefaults: {
                        renderer:$.jqplot.BarRenderer,
                        rendererOptions: {
                                fillToZero: true
                            }
                    },
                    axes: {
                        yaxis: {
                            pad: 1,
                            tickOptions: { formatString: '%.1f(分钟)' }
                        },
                        xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer,
                            ticks: ticks
                        }
                    }
                });
        });
    });
</script>
