@model GGZBTQPT_PRO.ViewModels.AnalysisResult

<h3>
    类似成交项目统计报告：</h3>
<ul>
    <li>平均成交额： @Model.Turnover</li>
    <li>平均回报率： @Model.ReturnRatio</li>
    <li>成交数量： @Model.Num</li>
    <li>成交比例： @Model.TurnoverRatio</li>
</ul>
