@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_Menu>
@{
    Layout = null;
}
<div class="pageContent" style="padding: 5px; overflow: auto;">
    <div layouth="146" style="float: left; display: block; overflow: auto; width: 240px;
        border: solid 1px #CCC; line-height: 21px; background: #fff">
        @Html.Action("SystemLinks")
    </div>
    <div id="menuInfoBox" class="unitBox" style="margin-left: 246px;">
        <div>
            请点击左侧系统名称，维护系统功能菜单！</div>
    </div>
</div>
