@model GGZBTQPT_PRO.Models.T_HY_Member

@{
    ViewBag.Title = "投融资推荐";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#recommend li a").click(function (e) {
            e.preventDefault();
            $("#recommend li").removeClass("active");
            $(this).parent("li").addClass("active");
        });
        $("#recommend li.active a").click();
    });


</script>
<h3 class="content-title">
    投融资推荐</h3>

<ul id="recommend" class="nav nav-tabs">
    <li class="active">
        @Ajax.ActionLink("优质项目推荐", "RecommendFinancials", "Recommend", new { member_id = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details", LoadingElementId = "loading" })
    </li>
    <li>
        @Ajax.ActionLink("优质资本推荐", "RecommendInvestments", "Recommend", new { member_id = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details", LoadingElementId = "loading" })
    </li>
    <li>
        @Ajax.ActionLink("优质服务推荐", "RecommendAgencies", "Recommend", new { member_id = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details",  LoadingElementId = "loading" })
    </li>
</ul>

<div id="details">

</div>

