@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_JG_Agency>
<script type="text/javascript">
    $(document).ready(function () {
        $("#recommend li a").click(function (e) {
            e.preventDefault();
            $("#recommend li").removeClass("active");
            $(this).parent("li").addClass("active");
        });
        $("#recommend li.active a").click();
    });
</script>


<h3 class="content-title">
    机构分类</h3>
<table width="100%">
<tr>
    <td width="20%" valign="top">
    <ul id="recommend">
    <li class="active">@Ajax.ActionLink("投资理财", "AgencyType", "FindService", new { AgencyType = 2112 }, new AjaxOptions { UpdateTargetId = "details" })</li>
    @foreach (var item in ViewData["AgencyType"] as SelectList)
    {
        if (item.Value != "2112")
        {
        <li>@Ajax.ActionLink(item.Text, "AgencyType", "FindService", new { AgencyType = item.Value }, new AjaxOptions { UpdateTargetId = "details" })</li>
        }
    }
</ul>
    </td>
    <td valign="top"    ><div id="details"></div>
    </td>
</tr>
</table>


