body
{
    background-color: #eee; 
    .main
    {
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #ddddff;

        #notice
        {
            margin-bottom: 20px;
        }

        .content
        {
            -webkit-border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
            padding: 20px;
            background-color: #ffffff;
            margin-left: -30px;

        }
        .sidebar
        {
            -webkit-border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
            background-color: #ddddff;
            padding: 10px;
            margin-left: -20px;
        }
    }

    .footer
    {
        text-align: center;
        padding-top: 10px;
    }
}

.content-title
{
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.field-validation-error
{
    color: #FF8C05;
}

//friends's trend
#twitter
{
    .twitter-content
    {
        border-top: solid 1px #ddd;
        padding: 10px 0;
    }
    .member-link 
    {
    }
    .msg 
    {
    }
}

//attentioned person
#attentioned
{
    .attentioned-content
    {
        border-top: solid 1px #ddd;
        padding: 10px 0;

        ul
        {
            list-style: none;
        }
    }
    .member-link 
    {
    }
    .msg 
    {
    }
}

//sidebar
.sidebar
{
    .member-info
    {
        margin-bottom: 30px;
    }
    ul 
    {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        li
        {
            margin-left: 0px;
            padding-top: 5px;


        }
    }
}
//overide bootstrap
.clear
{
    clear: both;
}
.alert
{
    text-align: center;
}
#deploy 
{
    text-align: center;
    ul.nav-pills
    {
        img
        {
            margin-right: 10px;
        }
        a
        {
            width: 110px;
            height: 110px;
            border: 1px solid #eee;
            text-align: center;
            line-height: 100px;
            background-color: #eee;
        }
    }
}

